<h1>Edit your guess</h1>
<form action="/guesses/<%= @guess_id %>/rewrite">
  <p>
    Enter a sequence:
  </p>

  <label for="first">First number:</label>
  <input id="first" type="text" name="first_number" placeholder="The first number" value="<%= @first_number %>">

  <label for="second">Second number:</label>
  <input id="second" type="text" name="second_number" placeholder="The second number" value="<%= @second_number %>">

  <label for="third">Third number:</label>
  <input id="third" type="text" name="third_number" placeholder="The third number" value="<%= @third_number %>">

  <button>
    Check
  </button>
</form>
